<!DOCTYPE html>


<html>


<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
    <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p> This site was created by Abhinav as test Node.js project. It uses data from mapbox.com and weatherstack.com
            to provide the weather.
        </p>
        <img class="portrait" src="/img/me.png"></div>

    {{>footer}}
</body>





</html>